* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: rgb(51, 49, 49);
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #00bcd4;
}


.main {
  min-height: calc(107vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("modify.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.overlay {
  position: absolute;
}

.content {
  text-align: center;
  padding: 40px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.content h1 {
  margin-bottom: 15px;
  color: white;
}

.content p {
  margin-bottom: 20px;
  color: white
}

.content button {
  padding: 10px 20px;
  border: none;
  background-color: #00bcd4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.content button:hover {
  background-color: #0097a7;
}

.bike-section {
  padding: 60px 40px;
  background-color: #f5f5f5;
  text-align: center;
}

.bike-section h2 {
  font-size: 32px;
  margin-bottom: 40px;
  color: #333;
}


.bike-row {
  display: flex;
  justify-content: center;
  gap: 25px;               
  flex-wrap: wrap;      
}

.bike-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  transition: transform 0.3s;
}


.bike-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.bike-card h3 {
  margin-bottom: 8px;
}

.bike-card p {
  color: #555;
  margin-bottom: 15px;
}

.bike-card button {
  padding: 10px 20px;
  border: none;
  background-color: #ff5722;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.bike-card button:hover {
  background-color: #e64a19;
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
