* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: rgb(51, 49, 49);
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  color: #00bcd4;
}


.main {
  min-height: calc(100vh - 140px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}

.content {
  text-align: center;
  background: white;
  padding: 40px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
}

.content h1 {
  margin-bottom: 15px;
}

.content p {
  margin-bottom: 20px;
  color: #555;
}

.content button {
  padding: 10px 20px;
  border: none;
  background-color: #00bcd4;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.content button:hover {
  background-color: #0097a7;
}

.footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
